.content {
  display: flex;
  flex-direction: row;
}

.main {
  width: 1000em;
  background: black;
  margin: 0em;
  height: 1000px;
  color: white;
}

.sidebar {
  width: 100em;
  background: yellow;
  margin: 0em;
  height: 1000px;
}

.item {
  font-size: 2em;
  font-family: arial;
  padding: 1.5em;
}
