.content {
  display: flex;
  flex-direction: row;
}

.main {
  width: 20em;
  background: black;
  margin: 0em;
  height: 100%;
}

.sidebar {
  width: 5em;
  background: yellow;
  margin: 0em;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

}

.item {
  font-size: 2em;
  font-family: arial;
  padding: 1.5em;
}
